-var title = 'Dashboard Page'
include template/head.pug
body
  include template/navbar.pug
  main
    .container
      if user && user.firstName
        h1= `Welcome ${user.firstName}`
      h4= "Your Stories"
      if stories
        table.striped
          thead
            tr
              th Title
              th Date
              th Status
              th
          tbody
            each item in stories
              tr
                td
                  a(href=`/stories/show/${item.id}`)= item.title
                td= item.data
                td
                  span.dash-status= item.status
      else
        p You havn't any stories yet
      


include template/footer.pug
include template/scripts.pug