-var title = 'Stories'
include ../template/head.pug
body
  include ../template/navbar.pug
  main
    .container
      h1= `Stories`
      .row
        if stories
          each item in stories
            .col.s12.m4
              .card
                .card-image
                  a.btn-floating.halfway-fab.red(href=`/stories/edit/${item.id}`)
                    i.fa.fa-pencil
                .card-content.center-align
                  h5= item.title
                  .story-text
                    div !{item.body}
                  br
                  if item && item.user
                    .chip
                      img(src=item.user.image, alt='Contact Person')
                      = item.user.firstName + ' ' + item.user.lastName
                .card-action.center-align
                  a.btn.grey(href=`/stories/show/${item.id}`)
                    = 'Read More'
        else
          p No stories found
include ../template/footer.pug
include ../template/scripts.pug